/* ************************* Shared Elements ************************* */
* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    width: 100%;
}

section {
    flex: 1; /* Allows this section to grow and fill space */
}

.row {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    width: 100%;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* ********** Header Section ********** */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ***** Logo ***** */

.headerlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logo {
    height: 100px;
}

/* ***** Navbar ***** */
nav {
    height: 100px;
    padding-left: 10%;
    position: relative;
    z-index: 10;
}

nav ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

ul {
    height: 100px;
}

ul li {
    padding-top: 50px;
    display: inline-table;
}

ul li a {
    color: black;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* ********** Footer Section ********** */
footer {
    text-align: center;
    padding: 10px;
}

footer a {
    color: black;
}

/* ************************* Home Page Specific ************************* */

/* ************************* 404 Page Specific ************************* */
.four04page {
    text-align: center;
}

.four04page p a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.four04page p a:hover {
    text-decoration: underline;
}